.body{
    display: flex;
    flex-direction: column;
    background: #F5F3EA;
}

.header{
    display: flex;
    width: auto;
    height: auto;
    margin: auto;
    flex-direction: column;
}

.header__top{
    display: flex;
    width: 1920px;
    height: auto;
    flex-direction: column;
    gap: 30px;
    padding: 40px 70px;
    box-sizing: border-box;
}

.header__top__nav{
    display: flex;
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
    padding-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.header__top__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.logo__text--thin{
    margin: 0;
    color: #000;
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.7px;
    text-transform: uppercase;
}

.logo__text--bold{
    color: #000;
    text-align: center;
    font-family: "Gilroy", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.7px;
}

.logo__text--symbol{
    margin: 0 0 6px -10px;
    color: #000;
    text-align: center;
    font-family: "Gilroy", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.header__top__menu_button{
    border: none;
    background: transparent;
    color: #252525;
    text-align: center;
    font-family: "Gilroy-SemiBold", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__top__header{
    display: flex;
    margin: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
    align-self: stretch;

    color: #252525;
    font-family: "Gilroy", sans-serif;
    font-size: 150px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-transform: capitalize;
}

.header__top__header--bold{
    color: #252525;
    text-align: center;
    font-family: "Gilroy-SemiBold", sans-serif;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.header__top__point{
    display: flex;
    margin: auto;
    align-items: center;
}

.header_middle_img{
    display: flex;
    width: 1920px;
    height: 956px;
    flex-shrink: 0;
}

.header_bottom{
    display: flex;
    flex-direction: row;
    width: 1920px;
    height: 404px;
    padding: 70px 0px;
    box-sizing: border-box;
    justify-content: center;
    flex-shrink: 0;
    border-bottom: 1px solid #252525;
}

.header_bottom__text{
    display: flex;
    box-sizing: border-box;
    padding: 0px 70px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.header_bottom__thin{
    margin: 0;

    color: #252525;
    font-family: "Gilroy", sans-serif;
    font-size: 62px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.header_bottom__bold{
    color: #252525;
    font-family: "Gilroy", sans-serif;
    font-size: 62px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header_bottom__about_me{
    display: flex;
    width: 485px;
    box-sizing: border-box;
    padding: 60px 70px 60px 0px;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    flex-shrink: 0;
    background: #252525;
}

.header_bottom__about_me__head{
    margin: 0;

    color: #FFF;
    text-align: right;
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
}

.header_bottom__about_me__links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.logos{
    display: flex;
    flex-direction: row;
    width: 1920px;
    box-sizing: border-box;
    padding: 70px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-bottom: 1px solid #252525;
}

.logos__rectangle{
    display: flex;
    height: 70px;
    box-sizing: border-box;
    padding: 15px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #FFF;
}

.main{
    display: flex;
    width: auto;
    height: auto;
    margin: auto;
    align-items: center;
    flex-direction: column;
}

.section_1{
    display: flex;
    flex-direction: row;
    width: 1920px;
    height: auto;
}

.section_1__image{
    width: 980px;
    height: 1137px;
    background-image: url(images/what_do_i_do.png);
}

.section_1__content{
    display: flex;
    width: 940px;
    box-sizing: border-box;
    padding: 70px 70px 70px 111px;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
}

.section_1__content__head{
    margin: 0;

    color: #252525;
    font-family: "Gilroy", sans-serif;
    font-size: 146px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}

.section_1__info{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.section_1__info__header{
    margin: 0 0 10px 0;

    color: #000;
    font-family: "Gilroy-Light", sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
}

.section_1__info__header--bold{
    color: #000;
    font-family: "Gilroy-SemiBold", sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
}

.section_1__info__text{
    align-self: stretch;
    margin: 0;

    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.section_1__info__hr{
    margin: 0;
    width: 759px;
    height: 1px;
    background: #252525;
}

.section_2{
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: auto;
    padding: 70px 70px 100px 70px;
    box-sizing: border-box;
    gap: 50px;
    border-top: 1px solid #252525;
}

.section_2__header{
    flex: 1 0 0;
    margin: 0;
    color: #252525;
    text-align: center;
    font-family: "Gilroy", sans-serif;
    font-size: 192px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 8.48px;
    text-transform: uppercase;
}

.section_2__grid{
    display: grid;
    grid-template-columns: repeat(3, 567px);
    grid-template-rows: repeat(2, 567px);
    gap: 40px;
    row-gap: 70px;
}

.section_2__grid__info_card{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

.info_card__head{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.info_card__head__header{
    align-self: stretch;
    margin: 0;

    color: #000;
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    text-transform: uppercase;
}

.info_card__head__tags{
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.tag_button{
    display: flex;
    padding: 15px 30px;
    box-sizing: border-box;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    text-decoration: none;

    color: #252525;
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section_2__grid__disc_button{
    display: flex;
    padding: 10px 30px;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #252525;
    text-decoration: none;

    color: #FFF;
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.section_2__grid__img_card1{
    width: 567px;
    height: 567px;
    background-image: url(images/img_card1.png);
}

.section_2__grid__img_card2{
    width: 567px;
    height: 567px;
    background-image: url(images/img_card2.png);
}

.section_2__grid__img_card3{
    width: 567px;
    height: 567px;
    background-image: url(images/img_card3.png);
}

.section_2__grid__img_card4{
    width: 567px;
    height: 567px;
    background-image: url(images/img_card4.png);
}

.section_2__footer_button{
    display: flex;
    box-sizing: border-box;
    padding: 15px 60px;
    align-items: center;
    border-radius: 50px;
    border: none;
    background: #FFF;
    margin: auto;
    margin-top: 20px;

    color: #252525;
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section_3{
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: auto;
    padding: 50px 70px;
    box-sizing: border-box;
    gap: 50px;
    align-items: center;
    border-top: 1px solid #252525;
}

.section_3__head{
    margin: 0;

    color: #252525;
    font-family: "Gilroy", sans-serif;
    font-size: 212px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 8.48px;
    text-transform: uppercase;
}

.section_3__grid{
    display: grid;
    grid-template-columns: repeat(3, 567px);
    grid-template-rows: repeat(2, 567px);
    gap: 26px;
    row-gap: 0;
}

.section_3__grid_card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    box-sizing: border-box;
    gap: 30px;
}

.grid_card__head{
    width: 507px;
    height: 132px;
    margin: 0;

    color: #333;
    font-family: "Gilroy", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 44px;
}

.grid_card__text{
    width: 507px;
    height: 150px;
    margin: 0;

    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.client{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.client__pic1{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: url(images/client1.jpg);
    background-size: 70px 70px;
}

.client__pic2{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: url(images/client-2.jpg);
    background-size: 70px 70px;
}

.client__pic3{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: url(images/client-3.jpg);
    background-size: 70px 70px;
}

.client__pic4{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: url(images/client-4.jpg);
    background-size: 70px 70px;
}

.client__pic5{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: url(images/client-5.jpg);
    background-size: 70px 70px;
}

.client__pic6{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: url(images/client-6.jpg);
    background-size: 70px 70px;
}

.client__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.client__info__name{
    margin: 0;

    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.client__info__prof{
    margin: 0;

    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.section_4{
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: auto;
    padding: 50px 70px;
    box-sizing: border-box;
    gap: 50px;
    align-items: center;
    border-top: 1px solid #252525;
}

.section_4__head{
    margin: 0;

    color: #252525;
    font-family: "Gilroy", sans-serif;
    font-size: 212px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 8.48px;
    text-transform: uppercase;
}

.section_4__grid{
    display: grid;
    grid-template-columns: repeat(4, 415px);
    grid-template-rows: repeat(2, 693px);
    gap: 40px;
    row-gap: 30px;
}

.section_4__grid_card{
    display: flex;
    width: 415px;
    padding: 30px 0px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex-shrink: 0;
    align-self: stretch;
    text-decoration: none;
}

.grid_card__member{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.grid_card__member__head{
    margin: 0;
    width: 415px;
    height: 37px;

    color: #333;
    font-family: "Gilroy", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.grid_card__member__text{
    margin: 0;

    color: #333;
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.grid_card__member__pic1{
    width: 415px;
    height: 507px;
    background-image: url(images/team_member1.png);
    background-size: 415px 507px;
}

.grid_card__member__pic2{
    width: 415px;
    height: 507px;
    background-image: url(images/team_member2.png);
    background-size: 415px 507px;
}

.grid_card__member__pic3{
    width: 415px;
    height: 507px;
    background-image: url(images/team_member3.png);
    background-size: 415px 507px;
}

.grid_card__member__pic4{
    width: 415px;
    height: 507px;
    background-image: url(images/team_member4.png);
    background-size: 415px 507px;
}

.grid_card__member__pic5{
    width: 415px;
    height: 507px;
    background-image: url(images/team_member5.png);
    background-size: 415px 507px;
}

.grid_card__member__pic6{
    width: 415px;
    height: 507px;
    background-image: url(images/team_member6.png);
    background-size: 415px 507px;
}

.grid_card__member__links{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.section_4__info_grid_card{
    display: flex;
    width: 870px;
    box-sizing: border-box;
    padding: 30px 0px;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
}

.section_4__info_grid_card__text{
    margin: 0;

    color: #333;
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.section_4__info_grid_card__head{
    margin: 0;

    color: #333;
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.section_4__info_grid_card__button{
    display: flex;
    box-sizing: border-box;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #252525;

    color: #FFF;
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.section_5{
    display: flex;
    flex-direction: row;
    width: 1920px;
    height: auto;
    padding: 100px 70px;
    box-sizing: border-box;
    align-items: center;
    border-top: 1px solid #252525;
    gap: 40px;
}

.section_5__left{
    width: 100%;
    margin: 0;

    color: #333;
    font-family: "Gilroy", sans-serif;
    font-size: 155px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}

.section_5__right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.section_5__right__head{
    margin: 0;

    color: #252525;
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.section_5__right__text{
    margin: 0;

    color: #252525;
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section_5__right__button{
    display: flex;
    padding: 10px 30px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #252525;

    color: #FFF;
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.footer{
    display: flex;
    width: auto;
    height: 80px;
    margin: auto;
    align-items: center;
}

.footer__nav{
    display: flex;
    flex-direction: row;
    width: 1920px;
    height: auto;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 0px 70px;
    box-sizing: border-box;
    border-top: 1px solid #252525;
}

.copyright--thin{
    margin: 0;

    color: #333;
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.copyright--bold{
    color: #333;
    font-family: "Gilroy-SemiBold", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer__nav__links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}







@media (min-width: 768px) and (max-width: 1200px) {
    .header__top{
        width: 991px;
        padding: 40px 30px;
    }

    .header__top__header{
        width: 931px;
        font-size: 120px;
    }

    .header__top__header--bold{
        font-size: 120px;
    }

    .header_middle_img{
        width: 991px;
        height: 956px;
        margin-bottom: 20px;
    }

    .header_bottom{
        flex-direction: column;
        width: 991px;
        height: 496px;
        padding: 0;
        border-bottom: none;
    }

    .header_bottom__text{
        padding: 30px;
        align-items: center;
    }

    .header_bottom__thin{
        font-size: 52px;
    }

    .header_bottom__bold{
        font-size: 52px;
    }

    .header_bottom__about_me{
        width: 100%;
        padding: 40px 30px 40px 0px;
        margin-bottom: 10px;
    }

    .header_bottom__about_me__head{
        font-size: 28px;
    }

    .logos{
        width: 991px;
        padding: 40px 30px;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        gap: 20px;
        flex-wrap: wrap;
    }

    .section_1{
        flex-direction: column;
        width: 991px;
    }

    .section_1__image{
        width: 100%;
        height: 991px;
    }

    .section_1__content{
        width: 100%;
        padding: 40px 30px;
        gap: 40px;
    }

    .section_1__content__head{
        font-size: 150px;
    }

    .section_1__info__hr{
        width: 931px;
    }

    .section_2{
        width: 991px;
        padding: 30px;
        gap: 30px;
    }

    .section_2__header{
        font-size: 150px;
    }

    .section_2__grid{
        grid-template-columns: 931px;
        grid-template-rows: repeat(6, auto);
        gap: 0;
        row-gap: 30px;
    }

    .section_2__grid__info_card{
        justify-content: none;
        gap: 30px;
    }

    .section_2__grid__img_card1{
        width: 931px;
        height: 931px;
        order: -1;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section_2__grid__img_card2{
        width: 931px;
        height: 931px;
        order: -2;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section_2__grid__img_card3{
        width: 931px;
        height: 931px;
        order: 0;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section_2__grid__img_card4{
        width: 931px;
        height: 931px;
        order: 0;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section_2__footer_button{
        margin-top: 40px;
    }

    .section_3{
        width: 991px;
        padding: 30px;
        gap: 30px;
    }

    .section_3__head{
        font-size: 135px;
    }

    .section_3__grid{
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, auto);
        row-gap: 0;
    }

    .section_3__grid_card{
        padding: 40px 0;
        border-bottom: 1px solid #252525;
    }

    .grid_card__head{
        width: 100%;
        height: auto;
    }

    .grid_card__text{
        width: 100%;
        height: auto;
    }

    .section_4{
        width: 991px;
        padding: 30px 0 50px 0;
        gap: 30px;
    }

    .section_4__head{
        font-size: 150px;
    }

    .section_4__grid{
        grid-template-columns: repeat(2, 446px);
        grid-template-rows: repeat(3, 693px);
        gap: 40px;
        row-gap: 30px;
    }

    .section_4__grid_card{
        width: 446px;
    }

    .grid_card__member__pic1{
        width: 446px;
        background-size: 446px 507px;
    }

    .grid_card__member__pic2{
        width: 446px;
        background-size: 446px 507px;
    }

    .grid_card__member__pic3{
        width: 446px;
        background-size: 446px 507px;
    }

    .grid_card__member__pic4{
        width: 446px;
        background-size: 446px 507px;
    }

    .grid_card__member__pic5{
        width: 446px;
        background-size: 446px 507px;
    }

    .grid_card__member__pic6{
        width: 446px;
        background-size: 446px 507px;
    }

    .section_4__info_grid_card{
        width: 931px;
        padding: 0;
    }

    .section_4__info_grid_card__head{
        width: 100%;
    }

    .section_5{
        width: 991px;
        flex-direction: column;
        padding: 30px 30px 50px 30px;
    }

    .section_5__left{
        text-align: center;
        font-size: 150px;
    }

    .section_5__right{
        align-items: center;
    }

    .section_5__right__head{
        text-align: center;
    }

    .section_5__right__text{
        text-align: center;
    }

    .footer{
        height: 120px;
    }

    .footer__nav{
        width: 991px;
        padding: 20px 30px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .header__top{
        width: 478px;
        padding: 20px;
    }

    .header__top__nav{
        padding-bottom: 0;
    }

    .logo__text--thin{
        display: none;
    }

    .logo__text--bold{
        display: none;
    }

    .logo__text--symbol{
        display: none;
    }

    .header__top__header{
        width: 100%;
        font-size: 57px;
    }

    .header__top__header--bold{
        font-size: 57px;
    }

    .header_middle_img{
        width: 478px;
        height: 638px;
        margin-bottom: 40px;
    }

    .header_bottom{
        flex-direction: column;
        width: 478px;
        height: 427px;
        padding: 0;
        border-bottom: none;
    }

    .header_bottom__text{
        padding: 30px 20px;
        align-items: center;
    }

    .header_bottom__thin{
        font-size: 30px;
        text-align: center;
    }

    .header_bottom__bold{
        font-size: 30px;
    }

    .header_bottom__about_me{
        width: 100%;
        padding: 40px 30px 40px 0px;
        margin-bottom: 45px
    }

    .header_bottom__about_me__head{
        font-size: 28px;
    }

    .logos{
        width: 478px;
        padding: 30px 20px;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        gap: 20px;
        flex-wrap: wrap;
    }

    .section_1{
        flex-direction: column;
        width: 478px;
    }

    .section_1__image{
        width: 100%;
        height: 478px;
    }

    .section_1__content{
        width: 100%;
        padding: 20px;
        gap: 40px;
    }

    .section_1__content__head{
        font-size: 80px;
    }

    .section_1__info{
        gap: 30px;
    }

    .section_1__info__header{
        font-size: 35px;
    }

    .section_1__info__header--bold{
        font-size: 35px;
    }

    .section_1__info__hr{
        width: 438px;
    }

    .section_2{
        width: 478px;
        padding: 30px 20px;
        gap: 30px;
    }

    .section_2__header{
        font-size: 80px;
    }

    .section_2__grid{
        grid-template-columns: 438px;
        grid-template-rows: repeat(6, auto);
        gap: 0;
        row-gap: 20px;
    }

    .section_2__grid__info_card{
        justify-content: none;
        gap: 30px;
    }

    .info_card__head__header{
        font-size: 35px;
    }

    .section_2__grid__info_card{
        justify-content: none;
        gap: 30px;
    }

    .section_2__grid__img_card1{
        width: 438px;
        height: 418px;
        order: -1;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section_2__grid__img_card2{
        width: 438px;
        height: 418px;
        order: -2;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section_2__grid__img_card3{
        width: 438px;
        height: 418px;
        order: 0;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section_2__grid__img_card4{
        width: 438px;
        height: 418px;
        order: 0;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section_2__footer_button{
        width: 100%;
        margin-top: 20px;
        justify-content: center;
    }

    .section_3{
        width: 478px;
        padding: 30px 20px;
        gap: 30px;
    }

    .section_3__head{
        font-size: 55px;
    }

    .section_3__grid{
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, auto);
        row-gap: 0;
    }

    .section_3__grid_card{
        padding: 40px 0;
        border-bottom: 1px solid #252525;
    }

    .grid_card__head{
        width: 100%;
        height: auto;
    }

    .grid_card__text{
        width: 100%;
        height: auto;
    }

    .section_4{
        width: 478px;
        padding: 30px 20px 50px 20px;
        gap: 30px;
    }

    .section_4__head{
        font-size: 70px;
    }

    .section_4__grid{
        grid-template-columns: 446px;
        grid-template-rows: repeat(6, 673px);
        row-gap: 0;
    }

    .section_4__grid_card{
        width: 438px;
        padding: 20px 0px;
        align-items: center;
    }

    .grid_card__member__pic1{
        width: 438px;
        background-size: 438px 507px;
    }

    .grid_card__member__pic2{
        width: 438px;
        background-size: 438px 507px;
    }

    .grid_card__member__pic3{
        width: 438px;
        background-size: 438px 507px;
    }

    .grid_card__member__pic4{
        width: 438px;
        background-size: 438px 507px;
    }

    .grid_card__member__pic5{
        width: 438px;
        background-size: 438px 507px;
    }

    .grid_card__member__pic6{
        width: 438px;
        background-size: 438px 507px;
    }

    .grid_card__member__links{
        justify-content: center;
    }

    .section_4__info_grid_card{
        width: 438px;
        padding: 0;
        margin-top: 30px;
        align-items: center;
    }

    .section_4__info_grid_card__head{
        width: 100%;
        font-size: 40px;
        text-align: center;
    }

    .section_4__info_grid_card__button{
        width: 100%;
    }

    .section_5{
        width: 478px;
        flex-direction: column;
        padding: 30px 20px 50px 20px;
    }

    .section_5__left{
        text-align: center;
        font-size: 80px;
    }

    .section_5__right{
        align-items: center;
    }

    .section_5__right__head{
        text-align: center;
        font-size: 50px;
    }

    .section_5__right__text{
        text-align: center;
        font-size: 30px;
    }

    .section_5__right__button{
        width: 100%;
    }

    .footer{
        height: 120px;
    }

    .footer__nav{
        flex-direction: column;
        justify-content: none;
        gap: 20px;
        width: 478px;
        padding: 20px 30px;
    }
}